# Python
**/__pycache__/
*.py[cod]

# DVC project
dvc-test/dvc/test/data/
dvc-test/test_model.pt
dvc-test/aws/
dvc-test/data/
dvc-test/models/*.pt
!dvc-test/models/*.dvc

# LakeFS project
lakefs-test/image-segmentation-local/models/
lakefs-test/image-segmentation-local/mlruns/
lakefs-test/image-segmentation-local/data/
lakefs-test/image-segmentation-local/outputs/